{% extends "base.html" %}
{% block content %}
{% load static %}

<link href="{% static 'DreamScapes_app/css/mixes.css' %}" rel="stylesheet" type="text/css">

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 gutters-sm wide-gap">
        {% for mix in mixes %}
            <div class="col mb-3">
                <div class="card card-background">
                    <div class="card-body text-center">
                        <img src="{{ mix.user.profile_picture.url }}" style="width:50px;margin-top:10px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                        <p class="text">created by :{{ mix.user.username }}</p>
                        <h5 class="card-title">{{ mix.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button">Play</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>






{% endblock %}