{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'DreamScapes_app/css/profile.css' %}" rel="stylesheet" type="text/css">


{% if user.is_authenticated %}
<div class="wrapper">
    <div class="profile">
        <div class="profile_img_info">
            <div class="img">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="profile_pic">
                {%else%}
                <img src="{% static 'DreamScapes_app/images/user_default.png' %}" alt="profile_pic">
                {%endif%}
            </div>
            <div class="info">
                <p class="name">{{ user.username }}</p>
                <p class="date_of_birth"><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
            </div>
        </div>
        <div class="user_mixes">
            <div class="mixes">
                {%if user.mixes%}
                <p>Your Mixes</p>
                {%for mix in user.mix%}
                <ul>
                    <li>{{ user.mixes }}
                        <span class="title">{{mix.title}}</span>
                    </li>
                </ul>
                {%endfor%}
                {%else%}
                <p>Looks like You have no mixes yet!</p>
                {%endif%}
            </div>
        </div>
    </div>
</div>

{%endif%}
{% endblock %}